.bg-primary {
  background-color: $color-primary;
  color: white;
  border: none;
}

.bg-secondary {
  background-color: $color-secondary;
  color: white;
  border: none;
}

.bg-danger {
  background-color: $color-danger;
  color: white;
  border: none;
}

.bg-warning {
  background-color: $color-warning;
  color: white;
  border: none;
}

.bg-info {
  background-color: $color-info;
  color: white;
  border: none;
}