body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
}

.form-group {
  font-weight: 300;
}

.title-div {
  text-align: start;
}

.title-text,
.card-title {
  font-size: 2rem;
  color:  #444;
  text-transform: uppercase;
}

.form-field {
  font-size: 1.6rem;
  color: #444;
}

.buttons {
  width: 80%;
  padding: 2rem 0;
  display: flex;
  justify-content: space-around;
}

.btn {
  font-size: 1.3rem;
  font-weight: 300;
  -webkit-appearance: none;
}

.card-header {
  font-size: 2.5rem;
  font-weight: 400;
  color: $color-dark-grey;
}

.card-title {
  font-size: 1.8rem;
  color: $color-dark-grey;
}

.card-p {
  font-size: 1.3rem;
  color: $color-dark-grey;
}